*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 200px;
}

h1, h2, h3, p{
  margin: 30px 20px;
}

main > section{
  margin-top:50px;
  background-color: #f9f9f9;
}

main section:last-child img{
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}
